Package: com.ehrepo.sunshinegloweffect
Version: 1.0.0
Architecture: iphoneos-arm
Maintainer: NotJoshxops <blahyoutun@gmail.com>
Author: NotJoshxops
Section: Themes
Priority: optional
Size: 1024
Installed-Size: 1024
Description: Sunshine Glow Effect - Beautiful iOS jailbreak theme
Name: Sunshine Glow Effect
Homepage: https://github.com/NotJoshxops/ehrepo
