Package: com.ehrepo.sunshinegloweffect
Version: 1.0.0
Architecture: iphoneos-arm
Maintainer: NotJoshxops <blahyoutun@gmail.com>
Author: NotJoshxops
Homepage: https://github.com/NotJoshxops/ehrepo
Section: Themes
Description: Sunshine Glow Effect for Rootful Jailbreak
